
header ul {
    list-style-type: none;
     background-color: lightpink;
    width: 100%;
    position: fixed;
     }
    
     ul li{display: inline;
    margin-left: 30px;
    }
    
    ul li a {text-decoration: none;
    color: dimgray;
    border: solid dimgray;
    padding: 5px 15px;
    }
    
    ul li a:hover{
      color:#222831;
      background-color: lightpink;
    }
    h4  {
    font-family: cursive;
    }
    p {font-family: cursive;
    font-size: 17px;
    text-align: left;
}
 

    footer{color: rgb(34, 40, 49);
        font-size: 15px;
        text-align: center;
        padding: 1px 0px;
        background: lightpink;
        display: inline-block;
        width: 100%;
    }
        

.homeImage{
    text-align: center;
}

.goals{background-color: #E0E0E0;}

  